.essential{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.essential a{
    color: rgb(22, 75, 34);
    background-color: rgba(242, 248, 245, 0.662);
    line-height: 3;
    width: 50%;
    margin: 0 auto;
    text-decoration: underline;
    text-decoration-color:rgb(22, 75, 34) ;
}
