@charset "utf-8";

html{
    height: 100vh;
}

body {
    width:auto;
    height: 100%;
    margin: 0;
    background-image: url(../assets/zebra05.jpg);
    background-color:rgba(80, 77, 77, 0.272);
    background-blend-mode:darken;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 30px;
    color:rgb(215, 47, 95);
}

header{
    width: auto;
    height: 210px;
    position:relative;
}

.logo img{
    width: 180px;
    height: 120px;
    position:absolute;
    float:left;
    top: 15%; 
    left:3%;
}

.logo a :hover {
    text-decoration: underline;
    opacity: 0.5;
}

.global-nav li {
    list-style-type: none;
    margin-left: 20px;
    margin-top:35px;
    display: inline;
    float:right;
    padding: 20px;
    font-family: HiraKakuProN;
}
.global-nav ul{
display: flex;
justify-content: flex-end;
}
/* リンクの表示　*/
.global-nav li a {
    color: rgb(215, 47, 95);
    text-decoration: none;
 }
.global-nav li a :visited { 
     color: black;
 }
 .global-nav li a:hover {
     text-decoration: underline;
     opacity: 0.5;
 }

main{
    width:auto;
    height: 100%;
}
.top-page{
    text-align: center;
}
.top-page img{
    width: calc(770px/2);
    height: calc(1161px/2);
    position:relative;
}

.top-page p {
    color:rgb(215, 47, 95);
    position:absolute;
    top:40%;
    left:50%;
    font-family: HiraKakuProN;
    line-height: 2;
}

button {
        margin-top: 50px;
        font-family: HiraKakuProN;
        display: inline-block;
        padding: 15px 20px;
        text-decoration: none;
        background-color: rgb(94, 154, 116);
        color:#fff;
        border-bottom: solid 5px #303b4f;
        border-radius: 5px;
}

button:hover {
    font-family: HiraKakuProN;
        display: inline-block;
        padding: 15px 20px;
        text-decoration: none;
        background-color:#fff;
        color:rgb(94, 154, 116);
        border-bottom: solid 5px #303b4f;
        border-radius: 5px;
  }

button:active {
  transform: translateY(5px);
  border-bottom: solid 2px #303b4f;
}

footer{
    width:auto;
    height: 35%;
    color:  rgb(215, 47, 95);
    padding: 20px 0;
    text-align: center;
}
footer  small {
    display: inline-block;
    margin: 100px 0 50px 0;
    font-size: 25px;
}

iframe {
    margin: 100px;
}
